
h2 {
    color:darkslategray;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}
p.lead {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:xx-large;
    text-align: right;
}
img.wip {
    width:530px;
    height:100px;
}
h1.display-4 {
    font-family: 'Roboto', sans-serif;;
    color:white;
    font-size: xx-large;
    text-align: right;
    padding-right: 20px;
    line-height:1;
}

.jumbotron-fluid {
    background: url("jumbotron1.jpg") no-repeat center center;
    background-size:cover;
}

p.title {
    font-family:'Roboto', sans-serif;
    color:navy;
    font-size:larger;
}

.dropdown-item {
    color:navy;
    font-size:medium;
    font-family: 'Roboto', sans-serif;
}

.nav-pills,.nav-link {
    border-radius: 0rem;
    color:navy;
    font-size:medium;
    font-family: 'Roboto', sans-serif;;
}

.home-logo {
    font-family: 'Amatic SC', cursive;
    font-size:32px;
    color: #b9a500;
}

p.body {
    font-family:georgia;
    color: slategray;
}

.btn-primary {
    background-color:#b9a500;
    border-color: #b9a500;
}
.container-fluid {
    background-color:lightgrey;
}

i {
    font-size: 32px;
    text-align: center;
    color:navy;
}

.form-group {
    font-family:'Roboto', sans-serif;
    color:navy;
    font-size:larger;
}

.placeholder {
    font-family:'Roboto', sans-serif;
    color: lightgray;
}
td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: medium;
}

.fab,.far {
    font-size:medium;
    color: white;
}

img.body {
    height: 200px;
    width:350px;
}