
h2 {
    color:darkslategray;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}
p.lead {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
    text-align: right;
}
img.featured {
    width:300px;
}
h1.display-4 {
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-size: xx-large;
    text-align: right;
    padding-right: 20px;
    line-height:1;
}

.jumbotron-fluid {
    background: url("jumbotron1.jpg") no-repeat center center;
    background-size:cover;
}

p.title {
    font-family: 'Playfair Display', serif;
    color:navy;
    font-size:larger;
}

.dropdown-item {
    color:navy;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-pills,.nav-link {
    border-radius: 0rem;
    color:navy;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
}

.home-logo {
    font-family: 'Amatic SC', cursive;
    font-size:32px;
    color: #b9a500;
}

p.body {
    font-family:georgia;
    color: slategray;
}

.btn-primary {
    background-color:#b9a500;
    border-color: #b9a500;
}
.container-fluid {
    background-color:navy;
}

i {
    font-size: 32px;
    text-align: center;
}